.Banner {
    margin: 3rem 0 0 0;
    width: 100%;
    /* background-image: url(../images/reklame01.jpg);
    background-position: center;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat; */
    height: 45vh;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    position: relative;
}

.Banner__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -10;
    position: absolute;
    place-self: center;
    transform: rotateY(180deg);
}

.Banner__article {
    color: white;
    width: 50%;
    z-index: 10;
}

.Banner__h2 {
    font-size: 3.1rem;
    padding: 2%;
    font-weight: 300;
}

.Banner__h3 {
    text-transform: uppercase;
}

.Banner__p {
    font-size: xx-small;
}