.Gallery__wrapper {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
}

.Gallery__section {
    display: flex;
    flex-flow: column;
    gap: 0.9rem;
    height: 100%;
}

.Gallery_figure-big-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Gallery_big-img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.Gallery_grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

.Gallery_thumbnail {
    object-fit: cover;
    width: 100%;
    height: auto;
}